:root {
    --example-button-size: 15px;
    --example-button-dist: 5px;
    --example-buttons-padding-left: 15px;
}





body > main- > center- example- buttons- {
    position: relative;
    display: flex;
    padding: 0 0 0 var(--example-buttons-padding-left);
    margin: 0;
    min-width: fit-content;
    max-width: fit-content;
    min-height: 100%;
    max-height: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--example-button-dist);
}




body > main- > center- example- buttons- > button- {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;

    min-width: var(--example-button-size);
    max-width: var(--example-button-size);
    min-height: var(--example-button-size);
    max-height: var(--example-button-size);
    cursor: pointer;
}
body > main- > center- example- buttons- > button- > svg {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    color: var(--button-color-idle);
    animation: fadein 0.2s ease;
    transition: color 0.2s ease;
}
body > main- > center- example- buttons- > button- > svg:hover {
    color: var(--button-color-hover);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}