


.more-examples-button {
    display: block;
    margin-top: 10px;
    margin-left: 5px;

    font-weight: normal;
    font-size: small;
    cursor: pointer;
    color: var(--fg-soft-link);
}
.more-examples-button:hover {
    text-decoration: underline;
}