:root {
    --tab-buttons-container-height: 20px;
    --tab-button-padding: 10px;
}



.tab-buttons-container {
    display: flex;
    flex-direction: row;
    position: relative;

    width: auto;
    height: fit-content;

    border-bottom: 1px solid var(--bd-block);
}


.tab-buttons-container > .tab-button {
    display: block;
    position: relative;

    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    min-height: var(--tab-buttons-container-height);
    max-height: var(--tab-buttons-container-height);
    padding: var(--tab-button-padding) 0 var(--tab-button-padding) 0;

    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s;
    user-select: none;
}
