:root {
    --bd-id:         hsl(212, 14%, 20%);
    --bd-sub:        hsl(210, 31%, 54%);
    --bd-decl:       hsl(281, 31%, 54%);
    --bd-expr:       #85b4e0;
    --bd-path:       #526ff1;
    --bd-type:       #4dca68;

    --bg-vbtm:       hsl(210, 8%, 13%);
    --bg-syntax-elm: hsl(216, 12%, 8%);
    --bg-sgr:        hsla(60, 90%, 44%, 5%);

    --fg-sgr:        hsla(102, 5%, 95%, 75%);
}




s-vbtm-, /* Verbatim. Literally what the element contains */
s-id-,   /* User defined identifier                       */
s-sub-,  /* Sub element                                   */
s-decl-, /* Declaration                                   */
s-sgr-,  /* Syntactic sugar                               */
s-expr-, /* Expression                                    */
s-path-, /* Symbol path                                   */
s-type-  /* Type path                                     */
{
    display: inline-block;
    border: 1.2px solid;
    border-radius: var(--code-decoration-r);
    padding: 0 12px 0 12px;
    margin: 4px 2px 4px 2px;
    background-color: var(--bg-syntax-elm);
    font-size: var(--font-size-code);
    white-space: nowrap;
    transition: background-color ease-in-out 0.2s;
}
syntax- table tr > td > * {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

    margin:     4px 0 0 0;
    min-width:  100%;
    max-width:  100%;
    /**/width:  100%;
    max-height: calc(100% - 2 * var(--syntax-elm-margin));
    min-height: calc(100% - 2 * var(--syntax-elm-margin));
    /**/height: calc(100% - 2 * var(--syntax-elm-margin));
}
syntax- table tr > td:not(:empty) {
    padding: 0 12px 0 12px;
    box-sizing: border-box;
}
syntax- table tr > td.rowspan_2 > * {
    max-height: calc(200% - 2 * var(--syntax-elm-margin));
    min-height: calc(200% - 2 * var(--syntax-elm-margin));
    /**/height: calc(200% - 2 * var(--syntax-elm-margin));
}
syntax- table tr > td > * > div {
    display: inline-flex;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

    min-width: fit-content;
    max-width: fit-content;
    /**/width: fit-content;
    min-height: 100%;
    max-height: 100%;
    /**/height: 100%;
}




s-id-   { font-style: italic; border-color: var(--bd-id  );                        }
s-sub-  { font-style: italic; border-color: var(--bd-sub ); border-style: dashed;  }
s-decl- { font-style: italic; border-color: var(--bd-decl);                        }
s-expr- { font-style: italic; border-color: var(--bd-expr);                        }
s-path- { font-style: italic; border-color: var(--bd-path);                        }
s-type- { font-style: italic; border-color: var(--bd-type);                        }

s-vbtm- {
    border-width: 0;
    background-color: var(--bg-vbtm);
}
s-sgr- {
    border-width: 0;
    color:            var(--fg-sgr);
    background-color: var(--bg-sgr);
}








s-id-  :hover { background-color: color-mix(in srgb, var(--bg-syntax-elm), white 10%); }
s-sub- :hover { background-color: color-mix(in srgb, var(--bd-sub ),       black 75%); }
s-decl-:hover { background-color: color-mix(in srgb, var(--bd-decl),       black 75%); }
s-expr-:hover { background-color: color-mix(in srgb, var(--bd-expr),       black 75%); }
s-path-:hover { background-color: color-mix(in srgb, var(--bd-path),       black 75%); }
s-type-:hover { background-color: color-mix(in srgb, var(--bd-type),       black 75%); }
s-vbtm-:hover { background-color: color-mix(in srgb, var(--bg-vbtm),       white 10%); }






