

syntax- svg path.arrow-line,
syntax- svg path.arrow-head {
    stroke: hsl(212, 14%, 24%);
    stroke-width: 2.5px;
    fill: none;
    clip-path: none;
}
syntax- svg path.arrow-line {
    stroke-linecap: butt;
}
syntax- svg path.arrow-head {
    stroke-linecap: round;
}