:root {
    --word-spacing:           3px;
    --code-decoration-radius: 8px;

    --main-left-padding:    2vw;
    --main-padding:         4vw;
    --main-left-max-width:  20vw;

    --bg-color:           #0d1117;
    --bg-color-code:      #222931;
    --bg-color-pre:       #161b22;

    --link-color:         #50aaff;
    --separator-color:    #282d33;
    --text-color:         #d2d2d2;
    --hidden-color:       #555555;

    --table-bg-color:            #161a20;
    --table-active-bg-color:     #13161b;
    --table-border-color:        #1a1d20;
    --table-header-bg-color:     #1b1f24;
    --table-header-border-color: #21262c;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome */
} .hide-scrollbar {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}


/* Utility */
.right  { text-align: right;  }     .small  { font-size: small;  }
.left   { text-align: left;   }     .medium { font-size: medium; }
.center { text-align: center; }     .large  { font-size: large;  }


/* Syntax highlight */
.lynx-comment {color: #6d757e; font-weight: 300; }
.lynx-literal {color: #85b4e0; }
.lynx-type    {color: #3884dc; }
.lynx-func    {color: #e6e6b3; }
.lynx-arg     {color: #2fc5d0; }
.lynx-keyword {color: #cc94d1; }
.lynx-string  {color: #db966e; }




/* Syntax and examples */
.fancy-code-label {
    font-family: monospace, monospace;      background-color: var(--bg-color-pre);      margin: 0 0 -38px 0;
    font-size: small;                       border-radius: 10px 10px 0 0;               padding: 4px 16px 22px 16px;
    word-spacing: normal;                   z-index: -5;                                width: 100vw;
    font-weight: bold;                      white-space: nowrap;                        max-width: min-content;
}
.fancy-code-multi-line-fix {
    font-family: monospace, monospace;      background-color: var(--bg-color-pre);      margin: 10px 0 30px 0;
    font-size: small;                       border-radius: 10px;                        padding: 0px;
    word-spacing: normal;                   overflow-x: auto;
    line-height: 18px;
}
.fancy-code-multi-line {
    font-family: monospace, monospace;      background-color: transparent;              margin: 0 0 0 -16ch;
    font-size: small;                                                                   padding: 20px 20px 0 20px;
    word-spacing: normal;
    line-height: 18px;
}
.fancy-code-single-line {
    font-family: monospace, monospace;      background-color: var(--bg-color-pre);      margin: 10px 0 15px 0;
    font-size: small;                       border-radius: 10px;                        padding: 20px 20px 20px 20px;
    word-spacing: normal;                   overflow-x: auto;
    line-height: 18px;                      white-space: nowrap;
}




/* Horizontal separators */
.separator-1 {
    background-color: var(--separator-color);
    height: 2px;        border-radius: 10px;
    width: 100%;        margin: 20ch 0 20ch 0;
}
.separator-2 {
    background-color: var(--separator-color);
    height: 1px;        border-radius: 10px;
    width: 100%;        margin: 8ch 0 8ch 0;
}
.separator-3 {
    background-color: transparent;
    width: 100%;
    margin-top: 7ch;
}



/* Page layout */
body {
    font-family: Cantarell;                 background-color: var(--bg-color);          margin: 0;
    font-size: medium;                      color: var(--text-color);                   padding: 0;
    word-spacing: var(--word-spacing);
    font-weight: 450;
    line-height: 25px;
}
div.main-container {
    height: 100vw; max-height: 100%;        position:fixed;                             margin: 0;
    width:  100vw; max-width:  100%;        display: flex;                              padding: 0;
}
div.main-right-container {
    height: 100vw; max-height: 100%;        overflow-x: hidden;                         margin: 0;
    width: 100vw;                           overflow-y: scroll;                         padding: 0 var(--main-padding) 0 var(--main-padding);
    max-width: calc(100% - var(--main-left-max-width) - var(--main-padding) * 2);
}
div.main-left-container {
    background-color: var(--bg-color);       overflow-x: auto;                          margin: 0;
    height: 100%; max-height: 100%;          overflow-y: scroll;                        padding: 0 var(--main-left-padding) 0 var(--main-left-padding);
    width: 100vw;                            z-index: 1;                                position:relative;
    max-width: calc(var(--main-left-max-width) - var(--main-left-padding) * 2 - 1px); /* 1px right border */
    vertical-align: top;
    border-right: 1px solid var(--separator-color);
}


/* Language logo */
.logo {
    background-color: black;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    z-index: -2;
}
.logo-right {
    position: relative;
    margin: var(--main-padding) 0 var(--main-padding) 0;
    height: calc(100vh - var(--main-padding) * 2);
    width: 100vw; max-width: 100%;
}
.logo-right-top {
    position: fixed;
    top: 0;
    width: 100vw;
    right: var(--main-padding);
    background-color: var(--bg-color);
    height: var(--main-padding);
    max-height: var(--main-padding);
    z-index: -1;
}



/* Tables */
div.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
table {
    border: 0px solid var(--table-border-color);
    border-width: 0 1px 1px 0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    line-height: 2.4ch;
    width: 100%;
    overflow: hidden;
}
.wide-lines {
    line-height: 30px;
}
th, td {
    border: 0px solid var(--table-header-border-color);
    border-width: 1px 0 0 1px;
    padding:10px 20px 10px 20px
}
th {
    font-size: large;
    background-color: var(--table-header-bg-color)
}
table tr:nth-child(even) {
    background-color: var(--table-active-bg-color);
}
table tr:nth-child(odd) {
    background-color: var(--table-bg-color);
}




.syntax-elm {
    border: 1px solid var(--separator-color);
    border-radius: var(--code-decoration-radius);
    padding: 4px 8px 7px 8px;
    background-color: var(--bg-color-pre);
    font-size: smaller;
    white-space: nowrap;
}
.hidden {
    color: var(--hidden-color);
    white-space: nowrap;
}
code {
    white-space: nowrap;
    border-radius: var(--code-decoration-radius);
    padding: 4px 8px 4px 8px;
    background-color: var(--bg-color-code);
    font-family: monospace, monospace;
    color: var(--text-color);
    font-size: smaller;
}
.op_template {
    color: var(--hidden-color);
    white-space:nowrap;
    font-size: smaller;
}
.op_syntax {
    white-space:nowrap;
}




/* Index */
.index-section {
    margin: 20px 0 0 0;
    font-size: large;
    font-weight: bold;
    padding: 0;
}
.index-section li {
    font-size: medium;
    font-weight: normal;
    padding: 0;
}
ul.index {
    counter-reset: section;
    list-style-type: none;
}
ul.index li {
    list-style-type: none;
}
ul.index li ul {
    counter-reset: subsection;
}
ul.index li:before {
    counter-increment:section;
    content:counter(section) ". ";
}
ul.index li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}
a:hover, a:visited, a:link {
    text-decoration: none;
    color: var(--link-color);
}