:root {
    --word-spacing:           3px;
    --code-decoration-radius: 8px;
    --line-height:            2.6ch;
    --wide-line-height:       3.5ch;
    --code-line-height:       2.5ch;

    --font-size-small:        0.8vw;
    --font-size-medium:       0.8vw;
    --font-size-mono-medium:  0.6vw;
    --font-size-large:        1.2vw;

    --main-left-padding:    2vw;
    --main-padding:         4vw;
    --main-left-max-width:  20vw;

    --bg-color:           #0d1117;
    --bg-color-code:      #222931;
    --bg-color-pre:       #161b22;

    --link-color:         #50aaff;
    --sep-color:          #282d33;
    --text-color:         #d2d2d2;
    --clicked-label-color:#9e9e9e;
    --hidden-color:       #555555;

    --table-bg-color:            #161a20;
    --table-active-bg-color:     #13161b;
    --table-border-color:        #1a1d20;
    --table-header-bg-color:     #1b1f24;
    --table-header-border-color: #21262c;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome */
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}


/* Utility */
.right  { text-align: right;  }     .small  { font-size: var(--font-size-small);  }
.left   { text-align: left;   }     .medium { font-size: var(--font-size-medium); }
.center { text-align: center; }     .large  { font-size: var(--font-size-large);  }
.nowrap { white-space: nowrap; }
.nobefore::before { content: ""; }


/* Syntax highlight */
c_ { color: #6d757e; font-weight: 300; }    /* Comment  */
k_ { color: #85b4e0; }                      /* Constant */
t_ { color: #3884dc; }                      /* Type     */
f_ { color: #e6e6b3; }                      /* Function */
a_ { color: #2fc5d0; }                      /* Argument */
w_ { color: #cc94d1; }                      /* Keyword  */
s_ { color: #db966e; }                      /* String   */







/*                                                                                                 */
/*                                             WARNING                                             */
/*                                      Cursed unorthodox CSS                                      */
/*                                     Proceed at your own risk                                    */
/*                                                                                                 */








/* Syntax and examples */
syntax_, example_ {
    font-family: monospace, monospace;      background-color: transparent;                          ;
    font-size: var(--font-size-mono-medium);                       padding: 0;                                             ;
    word-spacing: normal;                   margin: 3ch 0 0 0;                                      ;
    line-height: 18px;                      display: flex;                                          }

    /* Interal containers */
    syntax_ left_, syntax_ right_, syntax_ fill_, example_ fill_ {
        display: block;                                                                             ;
        width:  calc(50% - 5px); max-width: 100%;       margin: 0 0 0 0;                            ;
        height: min-content; max-height: min-content;   padding: 0;                                 ;
        background-color: var(--bg-color-pre);          border-radius: 10px;                        ;
        overflow-y: visible;                                                                        }

        /* Labels */
        syntax_ left_ label_, syntax_ right_ label_, syntax_ fill_ label_, example_ fill_ label_ {
            display: block;                                                                         ;
            background-color: var(--bg-color-pre);      margin: -3ch 0 -38px 0;                     ;
            border-radius: 10px 10px 0 0;               padding: 4px 20px 22px 20px;                ;
            z-index: -5;                                width: 100vw;                               ;
            white-space: nowrap;                        max-width: min-content;                     ;
            font-weight: bold;                                                                      ;
        }
        example_ fill_ label_::before { content: "Example "; }
        syntax_ left_ label_::before, syntax_ fill_ label_::before { content: "Syntax "; }
        example_ fill_ label_::after       { content: " ⧉"; color: var(--bg-color-pre); }
        example_ fill_ label_:hover::after { content: " ⧉"; color: var(--text-color);   }
        example_ fill_ label_:active, example_ fill_ label_:active::after { color: var(--clicked-label-color); }

        /* Code */
        syntax_ left_ code_, syntax_ right_ code_, syntax_ fill_ code_, example_ fill_ code_ {
            display: block;                             margin: 1ch 0 -1ch calc(-4ch * 6);          ;
            background-color: transparent;              padding: 0 20px 0 20px;                     ;
            line-height: var(--wide-line-height);       width: 100vw;                               ;
            white-space: pre;                           max-width: min-content;                     ;
        }

        /* Stop selection in both*/
        syntax_ left_ label_, syntax_ right_ label_, syntax_ fill_ label_, example_ fill_ label_,
        syntax_ left_ code_,  syntax_ right_ code_,  syntax_ fill_ code_,  example_ fill_ code_ {
            -webkit-touch-callout: none;                                                            ;
            -webkit-user-select: none;                                                              ;
            -moz-user-select: none;                                                                 ;
            -ms-user-select: none;                                                                  ;
            user-select: none;                                                                      ;
        }                                                                                           /*
    }                                                                                               */
    syntax_ left_  { margin-right: 5px; }
    syntax_ right_ { margin-left:  5px; }
    syntax_ fill_, example_ fill_ { width: 100%; }
    example_ fill_ code_ { line-height: var(--code-line-height); }                                  /*
}                                                                                                   */


/* Indentation margins for indented pre blocks */
.fix-indentation-1 { margin-left: calc(-4ch * 1); }
.fix-indentation-2 { margin-left: calc(-4ch * 2); }
.fix-indentation-3 { margin-left: calc(-4ch * 3); }
.fix-indentation-4 { margin-left: calc(-4ch * 4); }
.fix-indentation-5 { margin-left: calc(-4ch * 5); }
.fix-indentation-6 { margin-left: calc(-4ch * 6); }


/* Horizontal separators*/                          /*
{                                                   */
    sep-1_ {
        display: block;
        background-color: var(--sep-color);
        height: 2px;        border-radius: 10px;
        width: 100%;        margin: 20ch 0 20ch 0;
    }
    sep-2_ {
        display: block;
        background-color: var(--sep-color);
        height: 1px;        border-radius: 10px;
        width: 100%;        margin: 8ch 0 8ch 0;
    }
    sep-3_ {
        display: block;
        background-color: transparent;
        width: 100%;
        margin-top: 8ch;
    }
    sep_ {
        display: block;
        background-color: transparent;
        width: 100%;
        margin-top: 5ch;
    }                                               /*
}                                                   */


/* Page layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);                                                  margin: 0;
    font-size: var(--font-size-medium);                      color: var(--text-color);                   padding: 0;
    word-spacing: var(--word-spacing);
    font-weight: normal;
    line-height: var(--line-height);
    width: 100vw; height: 100vh;
}
div.main-container {
    height: 100vh; max-height: 100%;        position:fixed;                             margin: 0;
    width:  100vw; max-width:  100%;        display: flex;                              padding: 0;
}
div.main-right-container {
    height: 100vh; max-height: 100%;        overflow-x: hidden;                         margin: 0;
    width: 100vw;                           overflow-y: scroll;                         padding: 0 var(--main-padding) 0 var(--main-padding);
    max-width: calc(100% - var(--main-left-max-width) - var(--main-padding) * 2);
}
div.main-left-container {
    background-color: var(--bg-color);       overflow-x: auto;                          margin: 0;
    height: 100vh; max-height: 100%;         overflow-y: scroll;                        padding: 0 var(--main-left-padding) 0 var(--main-left-padding);
    width: 100vw;                            z-index: 1;                                position:relative;
    max-width: calc(var(--main-left-max-width) - var(--main-left-padding) * 2 - 1px); /* 1px right border */
    vertical-align: top;
    border-right: 1px solid var(--sep-color);
}


/* Language logo */
.logo {
    background-color: black;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    z-index: -2;
}
.logo-right {
    position: relative;
    margin: var(--main-padding) 0 var(--main-padding) 0;
    height: calc(100vh - var(--main-padding) * 2);
    width: 100vw; max-width: 100%;
}
.logo-right-top {
    position: fixed;
    top: 0;
    width: 100vw;
    right: var(--main-padding);
    background-color: var(--bg-color);
    height: var(--main-padding);
    max-height: var(--main-padding);
    z-index: -1;
}



/* Tables */
div.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
table {
    border: 0px solid var(--table-border-color);
    border-width: 0 1px 1px 0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    line-height: 2.4ch;
    width: 100%;
    overflow: hidden;
}
.wide-lines {
    line-height: var(--wide-line-height);
}
th, td {
    border: 0px solid var(--table-header-border-color);
    border-width: 1px 0 0 1px;
    padding:10px 20px 10px 20px
}
th {
    font-size: var(--font-size-large);
    background-color: var(--table-header-bg-color)
}
table tr:nth-child(even) {
    background-color: var(--table-active-bg-color);
}
table tr:nth-child(odd) {
    background-color: var(--table-bg-color);
}




elm_ {
    display: inline;
    font-family: monospace, monospace;
    border: 1px solid var(--sep-color);
    border-radius: var(--code-decoration-radius);
    padding: 4px 8px 7px 8px;
    background-color: var(--bg-color-pre);
    font-size: var(--font-size-mono-medium);
    white-space: nowrap;
}
.hidden, space_, nl_ {
    color: var(--hidden-color);
    white-space: nowrap;
}
space_, nl_ { display: inline; }
space_::before { content: "·"; }
nl_::before { content: "↩"; }
code {
    white-space: nowrap;
    border-radius: var(--code-decoration-radius);
    padding: 4px 8px 4px 8px;
    background-color: var(--bg-color-code);
    font-family: monospace, monospace;
    color: var(--text-color);
    font-size: var(--font-size-mono-medium);
}
.op_template {
    color: var(--hidden-color);
    white-space:nowrap;
    font-size: var(--font-size-mono-medium);
}
sup {
    margin-left: 0.5ch;
    color: var(--text-color);
}
sup::before { content: "("; }
sup::after  { content: ")"; }



/* Index */
.index-section {
    margin: 20px 0 0 0;
    font-size: var(--font-size-large);
    font-weight: bold;
    padding: 0;
}
.index-section li {
    font-size: var(--font-size-medium);
    font-weight: normal;
    padding: 0;
}
ul.index {
    counter-reset: section;
    list-style-type: none;
}
ul.index li {
    list-style-type: none;
}
ul.index li ul {
    counter-reset: subsection;
}
ul.index li:before {
    counter-increment:section;
    content:counter(section) ". ";
}
ul.index li ul li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}
a:hover, a:visited, a:link {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}