:root {/*
    Font { */
        --code-decoration-r:  9px;
        --char-spacing:      -0.06ch;
        --word-spacing:       0.6ch;
        --line-h:             2.6ch;
        --wide-line-h:        3.5ch;
        --code-line-h:        2.5ch;

        --font-size-medium:   16px;
        --font-size-mono:     14px;
        --font-size-code:     13px;
        --font-size-large:    22px;/*
    }

    Sizes { */
        --def-margin:              32px;
        --main-padding-l:          2vw;
        --main-padding-r:          4vw;
        --slider-w:                2vw;
        --logo-size:               50vw;
        --split-syntax-distance:   0.5vw;
        --code-h-margin:           20px;
        --lable-h-padding:         20px;
        --lable-v-padding:         6px;
        --lable-h:                 2.6ch;/*
    }

    Color { */
        --bg:               #0d1117;
        --bg-code:          #1f262d;
        --bg-pre:           #12161c;
        --bg-elm:           #12161c;
        --bg-table-odd:     #161a20;
        --bg-table-even:    #13161b;
        --bg-table-header:  #1b1f24;

        --fg-link:          #50aaff;
        --fg-separator:     #282d33;
        --fg-text:          #bebebe;
        --fg-lable-active:  #7e7e7e;
        --fg-hidden:        #555555;
        --fg-elm-border:    #353d46;
        --fg-elm2-border:   #5889b9;

        --bd-table-cell:    #1a1d20;
        --bd-table-header:  #21262c;/*
    } */
}


/* Syntax highlight */
c- { color: #6d757e; font-weight: 300; }    /* Comment  */
k- { color: #85b4e0; }                      /* Constant */
t- { color: #3884dc; }                      /* Type     */
f- { color: #e6e6b3; }                      /* Function */
a- { color: #2fc5d0; }                      /* Argument */
w- { color: #cc94d1; }                      /* Keyword  */
s- { color: #db966e; }                      /* String   */


/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Default */
* {
    margin:  0;
    padding: 0;
    scrollbar-width: thin;
}
p, syntax-, example-, table-container {
    margin:  var(--def-margin) 0 var(--def-margin) 0;
}


/* Utility */
.right  { text-align: right;  }
.left   { text-align: left;   }     .medium { font-size: var(--font-size-medium); }
.center { text-align: center; }     .large  { font-size: var(--font-size-large);  }
.nowrap { white-space: nowrap; }




/* Notice: no one is allowed to modify those 3 selectors. */
/* Getting this to work on chrome took 6 hours of trying random stuff and any changes could break it

Main slider { */
    .slider {
        position: fixed;
        z-index: -5;
        margin: 50vh 0 0 calc(var(--main-padding-l));
        width: calc(100vw - var(--main-padding-r) * 2 - var(--main-padding-l));
        height: 0;
        -webkit-appearance: none;
        appearance: none;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        cursor: e-resize;
        background-color: transparent;
        width: var(--slider-w);
        height: 100vh;
        border: none;
    }
    .slider::-moz-range-thumb {
        appearance: none;
        cursor: e-resize;
        background-color: transparent;
        width: var(--slider-w);
        height: 100vh;
        border: none;
    }/*
} */




/* Page layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--fg-text);
    position: fixed;
    z-index: -9999;

    word-spacing: var(--word-spacing);
    letter-spacing: var(--char-spacing);
    line-height: var(--line-h);
    font-weight: normal;
    font-size: var(--font-size-medium);
    min-width:  100vw;
    max-width:  100vw;
    min-height: 100vh;
    max-height: 100vh;}




    /* Language logo */
    logo- {
        display: block;
        z-index: -4;
        background-color: black;
        background-repeat: no-repeat;

        background-attachment: fixed;
        background-position: center;
        background-size:50%;
        min-width:  100vw;
        max-width:  100vw;
        min-height: 100vh;
        max-height: 100vh;
    }




    /* Page container */
    body > right- {
        display: block;
        z-index: 5;
        overflow: scroll;
        position: fixed;

        right: 0;
        padding: 0 1px 0 1px;
        margin: 0 var(--main-padding-r) 0 var(--main-padding-r);
        /* width: Set from JS */
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh}




        /* Smaller language logo fix */
        body > right- > logo-top- {
            background-color: var(--bg);
            display: block;
            position: fixed;
            z-index: -3;

            top:   0;
            right: 0;
            /* width: Set from JS */
            max-width: 100vw;
            min-height: var(--main-padding-r);
            max-height: var(--main-padding-r);
        }


        /* Smaller language logo */
        body > right- > logo- {
            display: block;
            position: relative;

            margin: var(--main-padding-r) 0 var(--main-padding-r) 0;
            background-position-y: center;
            /* background-position-x: Set from JS */
            background-size: var(--logo-size);
            min-width: 100%;
            max-width: 100%;
            min-height: calc(100vh - var(--main-padding-r) * 2);
            max-height: calc(100vh - var(--main-padding-r) * 2);
        }/*
    }




    Index constainer */
    body > left- {
        display: block;
        background-color: var(--bg);
        overflow: scroll;
        position: fixed;
        z-index: 5;

        margin: 0 0 0 var(--main-padding-l);
        border-right: 1px solid var(--fg-separator);
        /* width: Set from JS */
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;}



        /* Page index */
        body > left- > index- {
            display: block;

            min-width: 100%;
            max-width: 100%;
        }

        /* Inedx elements */
        body > left- > index- indexd-, body > left- > index- indexh- {
            display: block;
            background-color: var(--bg);
            white-space: nowrap;

            border-radius: 10px;
            /**/width: 100%;
            /* max-width: Set from JS */}


            /* Index links */
            body > left- > index- indexd- > a, body > left- > index- indexh- > a {
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }

        body > left- > index- indexd-:hover, body > left- > index- indexh-:hover {
            background-color: var(--bg-pre);
        }
        body > left- > index- > indexh-:first-child:hover, body > left- > index- > indexh-:last-child:hover {
            max-width: 0;
        }/*
    } */




    /* Syntax and examples */
    syntax-, example- {
        display: flex;
        background-color: transparent;
        font-family: monospace, monospace;
        overflow: visible;

        word-spacing: normal;
        font-size: var(--font-size-mono);
        line-height: 18px;}


        /* Interal containers */
        syntax- > left-, syntax- > right-, syntax- > fill-, example- > fill- {
            display: flex;
            flex-direction: column;
            overflow: visible;

            margin: 0 1px 0 1px;
            min-width:  calc(50% - var(--split-syntax-distance) - 1px * 2);
            max-width:  calc(50% - var(--split-syntax-distance) - 1px * 2);
            /**/height: fit-content; /* Fixed from JS */
            max-height: none;}


            /* Labels */
            syntax- > left- > label-, syntax- > right- > label-, syntax- > fill- > label-, example- > fill- > label- {
                display: block;
                position: relative;
                background-color: var(--bg-pre);
                border-color: var(--fg-elm-border);
                border-style: solid;
                z-index: 2;
                white-space: nowrap;
                overflow: hidden;

                padding: var(--lable-v-padding) var(--lable-h-padding) var(--lable-v-padding) var(--lable-h-padding);
                margin: 0 0 -1px 0;
                font-weight: bold;
                border-width: 1px 1px 0 1px;
                border-radius: var(--code-decoration-r) var(--code-decoration-r) 0 0;
                /**/width: fit-content;
                max-width: calc(100% - var(--lable-h-padding) * 2 - var(--code-decoration-r));
            }
            example- > fill- > label-::before {
                content: "Example ";
            }
            syntax- > left- > label-::before, syntax- > fill- > label-::before {
                content: "Syntax ";
            }
            example- > fill- > label-::after {
                content: " □";
                text-shadow: -0.3ch -0.3ch;
            }
            example- > fill- > label-:active, example- > fill- > label-:active::after {
                color: var(--fg-lable-active);
            }


            /* Code */
            syntax- > left- > code-, syntax- > right- > code-, syntax- > fill- > code-, example- > fill- > code- { position: relative; z-index: 1;
                display: block;
                background-color: var(--bg-pre);
                border-style: solid;
                white-space: pre;
                overflow: hidden;
                border-color: var(--fg-elm-border);

                border-width: 1px;
                border-radius: 0 var(--code-decoration-r) var(--code-decoration-r) var(--code-decoration-r) ;
                min-width: 100%;
                max-width: 100%;
                flex: 1; /* I don't know how this works, but it does work */
                min-height: fit-content;
                max-height: 100%;}


                /* Fix visible overflow-y not working with non-visible overflow-x */
                syntax- > left- > code- > scroll-, syntax- > right- > code- > scroll-, syntax- > fill- > code- > scroll-, example- > fill- > code- > scroll- {
                    display: block;
                    overflow: auto;

                    margin: 0 var(--code-h-margin) 0 var(--code-h-margin);
                    min-width: calc(100% - var(--code-h-margin) * 2);
                    max-width: calc(100% - var(--code-h-margin) * 2);
                    min-height: 100%;
                    max-height: 100%;
                }/*
            } */

            syntax- > right- > label-, syntax- > right- > code- { border-color: var(--fg-elm2-border); }


            /* Stop selection in both*/
            syntax- > left- > label-, syntax- > right- > label-, syntax- > fill- > label-, example- > fill- > label-,
            syntax- > left- > code-,  syntax- > right- > code-,  syntax- > fill- > code-,  example- > fill- > code- {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }/*
        } */

        syntax- > left-  { margin-right: var(--split-syntax-distance); }
        syntax- > right- { margin-left:  var(--split-syntax-distance); }

        syntax- > fill-, example- > fill- {
            min-width: calc(100% - 1px * 2);
            max-width: calc(100% - 1px * 2);
        }
        example- > fill- > code- {
            line-height: var(--code-line-h);
        }/*
    } */



    /* Horizontal separators
    { */
        sep-1- {
            display: block;
            background-color: var(--fg-separator);
            border-radius: 10px;

            margin: 20ch 0 20ch 0;
            min-width: 100%;
            max-width: 100%;
            min-height: 2px;
            max-height: 2px;
        }
        sep-2- {
            display: block;
            background-color: var(--fg-separator);
            border-radius: 10px;

            margin: 8ch 0 8ch 0;
            min-width: 100%;
            max-width: 100%;
            min-height: 1px;
            max-height: 1px;
        }
        sep-3- {
            display: block;
            background-color: transparent;

            margin-top: 8ch;
            min-width: 100%;
            max-width: 100%;
            max-height: 0;
        }/*
    }
} */







/* Tables */
div.table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
}
table {
    border: 0px solid var(--bd-table-cell);
    border-width: 0 1px 1px 0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    line-height: 2.4ch;
    width: 100%;
    overflow: hidden;
}
table tr th {
    white-space: nowrap;
}
.wide-lines {
    line-height: var(--wide-line-h);
}
th, td {
    border: 0px solid var(--bd-table-header);
    border-width: 1px 0 0 1px;
    padding:10px 20px 10px 20px
}
th {
    font-size: var(--font-size-large);
    background-color: var(--bg-table-header)
}
table tr:nth-child(even) {
    background-color: var(--bg-table-even);
}
table tr:nth-child(odd) {
    background-color: var(--bg-table-odd);
}



elm-, elm2- {
    display: inline-block;
    font-family: monospace, monospace;
    border: 1px solid var(--fg-elm-border);
    border-radius: var(--code-decoration-r);
    padding: 0 4px 0 4px;
    margin: 4px 2px 4px 2px;
    background-color: var(--bg-elm);
    font-size: var(--font-size-code);
    white-space: nowrap;
}
elm2- {
    border-color: var(--fg-elm2-border);
}
.hidden, space-, nl- {
    color: var(--fg-hidden);
    white-space: nowrap;
}
space-, nl- { display: inline; }
space-::before { content: "·"; }
nl-::before { content: "↩"; }
code {
    white-space: nowrap;
    border-radius: var(--code-decoration-r);
    padding: 4px 8px 4px 8px;
    background-color: var(--bg-code);
    font-family: monospace, monospace;
    color: var(--fg-text);
    font-size: var(--font-size-code);
}
template- {
    color: var(--fg-hidden);
    white-space:nowrap;
    font-size: var(--font-size-code);
}
sup {
    margin-left: 0.5ch;
    color: var(--fg-text);
}
sup::before { content: "("; }
sup::after  { content: ")"; }




a:hover, a:visited, a:link {
    text-decoration: none;
    color: var(--fg-link);
}
a:hover {
    text-decoration: underline;
}



.nobefore::before { content: ""; }
.noafter::after { content: ""; }
