:root {
    --code-decoration-radius: 9px;
    --char-spacing:           -0.06ch;
    --word-spacing:           0.6ch;
    --line-height:            2.6ch;
    --wide-line-height:       3.5ch;
    --code-line-height:       2.5ch;

    --font-size-medium:       16px;
    --font-size-mono:         14px;
    --font-size-code:         13px;
    --font-size-large:        22px;

    --main-left-padding:    2vw;
    --main-padding:         4vw;
    --main-left-def-width:  20vw;
    --main-left-max-width:  50vw;
    --slider-size:          2vw;
    --logo-size:            50vw;
    --split-syntax-distance:0.5vw;

    --bg-color:           #0d1117;
    --bg-color-code:      hsl(212, 18%, 15%);
    --bg-color-pre:       hsl(215, 21%, 9%);
    --bg-color-elm:       hsl(215, 21%, 9%);

    --link-color:         #50aaff;
    --sep-color:          #282d33;
    --text-color:         #bebebe;
    --clicked-label-color:#7e7e7e;
    --hidden-color:       #555555;
    --elm-border-color:   #353d46;
    --elm2-border-color:  #5889b9;

    --table-bg-color:            #161a20;
    --table-active-bg-color:     #13161b;
    --table-border-color:        #1a1d20;
    --table-header-bg-color:     #1b1f24;
    --table-header-border-color: #21262c;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome */
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
}


/* Utility */
.right  { text-align: right;  }
.left   { text-align: left;   }     .medium { font-size: var(--font-size-medium); }
.center { text-align: center; }     .large  { font-size: var(--font-size-large);  }
.nowrap { white-space: nowrap; }


/* Syntax highlight */
c- { color: #6d757e; font-weight: 300; }    /* Comment  */
k- { color: #85b4e0; }                      /* Constant */
t- { color: #3884dc; }                      /* Type     */
f- { color: #e6e6b3; }                      /* Function */
a- { color: #2fc5d0; }                      /* Argument */
w- { color: #cc94d1; }                      /* Keyword  */
s- { color: #db966e; }                      /* String   */







/*                                                                                                 */
/*                                             WARNING                                             */
/*                                      Cursed unorthodox CSS                                      */
/*                                     Proceed at your own risk                                    */
/*                                                                                                 */





/* Notice: no one is allowed to modify those 3 selectors. */
/* Getting this to work on chrome took 6 hours of trying random stuff and any changes could break it */
        input[type=range] {
            position: fixed;
            z-index: -5;
            margin: 50vh 0 0 calc(var(--main-left-padding) * 2);
            width: calc(100vw - var(--main-left-padding) * 2 - var(--main-padding) * 2);
            height: 0;
            -webkit-appearance: none;
            appearance: none;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            cursor: e-resize;
            background-color: transparent;
            width: var(--slider-size);
            height: 100vh;
            border: none;
        }
        input[type=range]::-moz-range-thumb {
            appearance: none;
            cursor: e-resize;
            background-color: transparent;
            width: var(--slider-size);
            height: 100vh;
            border: none;
        }
/*  */



/* Page layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);                                      margin: 0;                              ;
    font-size: var(--font-size-medium);         color: var(--text-color);   padding: 0;                             ;
    word-spacing: var(--word-spacing);                                                                              ;
    letter-spacing: var(--char-spacing);                                                                            ;
    font-weight: normal;                                                                                            ;
    line-height: var(--line-height);                                                                                ;
    width: 100vw; height: 100vh; z-index: -9999; position: fixed;
    }



    /* Language logo */
    logo- {
        display: block;                                                                                             ;
        background-color: black;
        padding: 0;                                                                                                 ;
        height: 100vh;                                                                                              ;
        background-attachment: fixed;                                                                               ;
        background-position: center;                                                                                ;
        background-repeat: no-repeat;                                                                               ;
        background-size:50%;                                                                                        ;
        z-index: -4;                                                                                                ;
    }

    /* Page container */
    body > right- {

        display: block;                                                                                         ;
        height: 100vh; max-height: 100%;        overflow-x: visible;        padding : 0 1px 0 1px;                          ;
        width: 100vw;                          overflow-y: scroll;         margin: 0 var(--main-padding) 0 var(--main-padding);
        position: fixed; right: 0; z-index: 5;
                            }

        /* Smaller language logo fix */
        body > right- > logo-top- {
            display: block;                                                                                     ;
            position: fixed;                                                                                    ;
            top: 0;                                                                                             ;
            width: 100vw;                                                                                       ;
            right: 0;                                                                         ;
            background-color: var(--bg-color);                                                                  ;
            height: var(--main-padding);                                                                        ;
            max-height: var(--main-padding);                                                                    ;
            z-index: -3;                                                                                        ;
        }
        /* Smaller language logo */
        body > right- > logo- {
            display: inline-block;                                                                                     ;
            position: relative;                                                                                 ;
            margin: var(--main-padding) 0 var(--main-padding) 0;                                                ;
            height: calc(100vh - var(--main-padding) * 2);                                                      ;
            width: 100vw; max-width: 100%;                                                                      ;
            right: 0;
            background-position-y: center;
            background-position-x: center;
            background-size: var(--logo-size);
        }

        /* Page contents background */
        body > right- > main-scroll- {
            background-color: var(--bg-color);                                                                  ;
        }                                                                                                       /*
    }                                                                                                           */

    /* Index constainer */
    body > left- {
        display: block;                                                                                         ;
        background-color: var(--bg-color);      overflow-x: auto;           padding : 0;                          ;
        height: 100vh; max-height: 100%;        overflow-y: scroll;         margin: 0 var(--main-left-padding) 0 var(--main-left-padding);;
        width: 100vw;                           z-index: 5;                 position: fixed;                  ;
            /* 1px right border */;
        border-right: 1px solid var(--sep-color);
                                                                                            }


        body > left- > index- {
            display: block;
            overflow-x: auto;
            padding: 0;
            max-width: 100%;
        }
        body > left- > index- indexd-, body > left- > index- indexh- {
            display: block;
            white-space: nowrap;
            background-color: var(--bg-color);
            border-radius: 10px;
            min-width: 100%;
            width: calc(fit-content + 20px);
        }
        body > left- > index- indexd-:hover, body > left- > index- indexh-:hover {
            background-color: var(--bg-color-pre);
        }
        body > left- > index- > indexh-:first-child:hover, body > left- > index- > indexh-:last-child:hover {
            max-width: 0;
        }                                                                                                       /*
    }                                                                                                           */




    /* Syntax and examples */
    syntax-, example- {
        font-family: monospace, monospace;      background-color: transparent;                                      ;
        font-size: var(--font-size-mono);padding: 0;                                                                ;
        word-spacing: normal;                   margin: 3ch 0 0 0;                                                  ;
        line-height: 18px;                      display: flex;
        overflow: visible; }

        /* Interal containers */
        syntax- > left-, syntax- > right-, syntax- > fill-, example- > fill- {
            display: block;                                                                             border-width: 1px;              ;
            width:  calc(50% - var(--split-syntax-distance) - 1px); max-width: 100%;       margin: 0 0 0 -1px;                         border-radius: 0 10px 10px 10px ;
            height: fit-content; max-height: none;   padding: 0;                                 border-color: var(--elm-border-color);
            background-color: var(--bg-color-pre);                                                      border-style: solid;            ;
            overflow-y: visible;                                                                                    }

            /* Labels */
            syntax- > left- > label-, syntax- > right- > label-, syntax- > fill- > label-, example- > fill- > label- {
                display: block;                                                                         border-width: 1px 1px 0 1px;
                background-color: var(--bg-color-pre);      margin: -3.5ch 0 0 -1px;                    border-color: var(--elm-border-color);
                border-radius: 10px 10px 0 0;               padding: 0.8ch 20px calc(0.2ch + 3px) 20px; border-style: solid;
                z-index: -5;                                width: fit-content;                                     ;
                white-space: nowrap;                        max-width: calc(100% - 20px * 2);                       ;
                font-weight: bold;                          overflow-x: hidden;                                     ;
            }
            syntax- > right- > label-, syntax- > right- { border-color: var(--elm2-border-color); }
            example- > fill- > label-::before { content: "Example "; }
            syntax- > left- > label-::before, syntax- > fill- > label-::before { content: "Syntax "; }
            example- > fill- > label-::after       { content: " \00a0▆"; text-shadow: -2px -2px var(--clicked-label-color); font-size: calc(var(--font-size-mono) - 2px);}
            example- > fill- > label-:active, example- > fill- > label-:active::after { color: var(--clicked-label-color); }

            /* Code */
            syntax- > left- > code-, syntax- > right- > code-, syntax- > fill- > code-, example- > fill- > code- {
                display: block;                             margin: 0;                                              ;
                background-color: transparent;              padding: 0;                                             ;
                                                            width: 100%; max-width: 100%;                                           ;
                white-space: pre;                           height: 100%; max-height: 100%;                                        ;
                overflow: hidden;                                                                                   }

                /* Fix visible overflow-y not working with non-visible overflow-x */
                syntax- > left- > code- > scroll-, syntax- > right- > code- > scroll-, syntax- > fill- > code- > scroll-, example- > fill- > code- > scroll- {
                    width: calc(100% - 20px * 2);           margin: 0 20px 0 20px;                                  ;
                    height: 100%;                           padding: 0;                                             ;
                    display: block;                                                                                 ;
                    overflow-x: auto;                                                                               ;
                }                                                                                                   /*
            }                                                                                                       */
            syntax- > left- > code-, syntax- > right- > code-, syntax- > fill- > code- {
                margin: 1em 0 1em 0;
                height: calc(100% - 1em);
            }

            /* Stop selection in both*/
            syntax- > left- > label-, syntax- > right- > label-, syntax- > fill- > label-, example- > fill- > label-,
            syntax- > left- > code-,  syntax- > right- > code-,  syntax- > fill- > code-,  example- > fill- > code- {
                -webkit-touch-callout: none;                                                                        ;
                -webkit-user-select: none;                                                                          ;
                -moz-user-select: none;                                                                             ;
                -ms-user-select: none;                                                                              ;
                user-select: none;                                                                                  ;
            }                                                                                                       /*
        }                                                                                                           */
        syntax- > left-  { margin-right: var(--split-syntax-distance); }
        syntax- > right- { margin-left:  var(--split-syntax-distance); }
        syntax- > fill-, example- > fill- { width: 100%; }
        example- > fill- > code- { line-height: var(--code-line-height); }                                          /*
    }                                                                                                               */



    /* Horizontal separators*/                                                                                      /*
    {                                                                                                               */
        sep-1- {
            display: block;                                                                                         ;
            background-color: var(--sep-color);                                                                     ;
            height: 2px;        border-radius: 10px;                                                                ;
            width: 100%;        margin: 20ch 0 20ch 0;                                                              ;
        }
        sep-2- {
            display: block;                                                                                         ;
            background-color: var(--sep-color);                                                                     ;
            height: 1px;        border-radius: 10px;                                                                ;
            width: 100%;        margin: 8ch 0 8ch 0;                                                                ;
        }
        sep-3- {
            display: block;                                                                                         ;
            background-color: transparent;                                                                          ;
            width: 100%;                                                                                            ;
            margin-top: 8ch;                                                                                        ;
        }
        sep- {
            display: block;                                                                                         ;
            background-color: transparent;                                                                          ;
            width: 100%;                                                                                            ;
            margin-top: 5ch;                                                                                        ;
        }                                                                                                           /*
    }
}                                                                                                                   */







/* Tables */
div.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
table {
    border: 0px solid var(--table-border-color);
    border-width: 0 1px 1px 0;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    line-height: 2.4ch;
    width: 100%;
    overflow: hidden;
}
table tr th {
    white-space: nowrap;
}
.wide-lines {
    line-height: var(--wide-line-height);
}
th, td {
    border: 0px solid var(--table-header-border-color);
    border-width: 1px 0 0 1px;
    padding:10px 20px 10px 20px
}
th {
    font-size: var(--font-size-large);
    background-color: var(--table-header-bg-color)
}
table tr:nth-child(even) {
    background-color: var(--table-active-bg-color);
}
table tr:nth-child(odd) {
    background-color: var(--table-bg-color);
}



elm-, elm2- {
    display: inline-block;
    font-family: monospace, monospace;
    border: 1px solid var(--elm-border-color);
    border-radius: var(--code-decoration-radius);
    padding: 0 4px 0 4px;
    margin: 4px 2px 4px 2px;
    background-color: var(--bg-color-elm);
    font-size: var(--font-size-code);
    white-space: nowrap;
}
elm2- {
    border-color: var(--elm2-border-color);
}
.hidden, space-, nl- {
    color: var(--hidden-color);
    white-space: nowrap;
}
space-, nl- { display: inline; }
space-::before { content: "·"; }
nl-::before { content: "↩"; }
code {
    white-space: nowrap;
    border-radius: var(--code-decoration-radius);
    padding: 4px 8px 4px 8px;
    background-color: var(--bg-color-code);
    font-family: monospace, monospace;
    color: var(--text-color);
    font-size: var(--font-size-code);
}
template- {
    color: var(--hidden-color);
    white-space:nowrap;
    font-size: var(--font-size-code);
}
sup {
    margin-left: 0.5ch;
    color: var(--text-color);
}
sup::before { content: "("; }
sup::after  { content: ")"; }




a:hover, a:visited, a:link {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}



.nobefore::before { content: ""; }
.noafter::after { content: ""; }
