:root {
    --syntax-label-h:           3ch;
    --syntax-label-padding:     16px;
    --syntax-label-padding-top: 0.5ch;
    --syntax-label-active:      hsl(0, 0%, 65%);
}






example- > label-,
syntax- > label- {
    display: flex;
    border: 1px solid var(--fg-separator);
    border-radius: var(--code-decoration-r);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    background-color: var(--bg-pre);
    z-index: 2;
    position: relative;
    padding: var(--syntax-label-padding-top) var(--syntax-label-padding) 0 var(--syntax-label-padding);
    font-weight: bold;
    white-space: nowrap;
    overflow: visible;
    font-size: var(--font-size-medium);

    box-sizing: border-box;
    min-width: 0;
    max-width: calc(100% - var(--code-decoration-r));
    /**/width: fit-content;
    min-height: var(--syntax-label-h);
    max-height: var(--syntax-label-h);
    /**/height: var(--syntax-label-h);
    margin: 0 -1px calc(0px - var(--syntax-overlap-fix)) -1px; /*! Expand the element 1px horizontally to re-align 1px wide borders */


    /*! CSS clipping straight up cuts shadows and there is no sane way around it */
    box-shadow: -4px 0px 4px var(--light-shadow-color), 4px 0px 4px var(--light-shadow-color), 0px -4px 4px var(--light-shadow-color);
}
example- > label-:not(:first-child),
syntax- > label-:not(:first-child) {
    margin-top: var(--syntax-internal-margin);
}
syntax- > label- {
    cursor: default;
}




