


range-val- {
    display: inline-block;
    font-size: var(--font-size-small);
    line-height: 1.5ch;
}
range-var- {
    display: inline;
    white-space: pre;
    font-size: var(--font-size-x-small);
    font-weight: normal;
    color: var(--fg-hidden);
}



