b    { text-decoration: underline; }
a-   { display: inline; font-weight: normal;  }
b-   { display: inline; font-weight: lighter;  }
txt- { display: inline; }


.readability-button {
    background-color: var(--bg-readability-on);
}
.readability-button > .a { font-weight: bold;   }
.readability-button > .b { font-weight: normal; }