b    { text-decoration: bolder; }
a-   { display: inline; font-weight: inherit;  }
b-   { display: inline; font-weight: inherit; }
txt- { display: inline; }


.readability-button {
    background-color: var(--bg);
}
.readability-button > .a { font-weight: normal; }
.readability-button > .b  { font-weight: normal; }