b    { text-decoration: underline; }
a-   { display: inline; opacity: 100%; }
b-   { display: inline; opacity: 70%;  }
txt- { display: inline; }


.readability-button {
    background-color: var(--bg-readability-on);
}
.readability-button > .a { font-weight: bold;   }
.readability-button > .b { font-weight: normal; }