:root {
    --scope-table-left-container-w: 20ch;
}


.scope-table-container {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    min-width: 100%;
    border-radius: 10px 0 0 0;
    overflow: clip;

    word-spacing: -100vw;
    box-shadow: 0px 4px 4px var(--light-shadow-color), 0px -4px 4px var(--light-shadow-color), 4px 0px 4px var(--light-shadow-color), -4px 0px 4px var(--light-shadow-color);
}
.scope-table-right-container {
    vertical-align: top;
    overflow-x: scroll !important;
    display: inline-block;
    max-width: calc(100% - var(--scope-table-left-container-w));
    margin-bottom: 0 !important;
}
.scope-table-right {
    border-radius: 0 10px 10px 0;
    word-spacing: var(--word-spacing);
    margin-bottom: 0;
}
.scope-table-left-container {
    vertical-align: top;
    overflow-x: clip !important;
    display: inline-block;
    max-width: var(--scope-table-left-container-w);
    border-bottom-left-radius: 10px;
    margin-bottom: 0 !important;
}
.scope-table-left {
    border-radius: 10px 0 0 10px;
    word-spacing: var(--word-spacing);
    margin-bottom: 0;
}
.scope-table-y > div { text-align: center; background-color: hsla(115, 70%, 60%, 0.1); }
.scope-table-n > div { text-align: center; background-color: hsla(0,   70%, 60%, 0.1); }
.scope-table-y > div::before { vertical-align: -50%; width: 100%; overflow: visible; content: "Yes"; }
.scope-table-n > div::before { vertical-align: -50%; width: 100%; overflow: visible; content: "No";  }


.scope-table-right td,
.scope-table-left th,
.scope-table-right th {
    padding: 0;
    text-align: center;
}

.scope-table-left th > div,
.scope-table-right th > div,
.scope-table-right td > div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 0;
    min-height: 48px;
    max-height: 48px;
    width: 100%;
    min-width:  128px;
    max-width:  100%;
}
.scope-table-left th > div {
    min-width: fit-content;
    max-width: fit-content;
}

.scope-table-left th > div > *,
.scope-table-right th > div > *,
.scope-table-right td > div > * {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
}