:root {
    --syntax-hover-tooltip-arrow-h : 10px;
    --syntax-hover-tooltip-padding-top : 1ch;
    --syntax-hover-tooltip-opacity-duration : 0.1s;
}




.syntax-hover-tooltip-container {
    pointer-events: none;
    display: inline-block;
    position: fixed;
    padding: 0;
    margin: 0;
    width:  0; max-width:  0;
    height: 0; max-height: 0;
    z-index: 100;
}


.syntax-hover-tooltip {
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    padding: var(--syntax-hover-tooltip-padding-top) var(--syntax-table-padding) var(--syntax-hover-tooltip-padding-top) var(--syntax-table-padding);
    margin-top: calc(5px + var(--syntax-hover-tooltip-arrow-h));
    z-index: 100;
    max-width: 200px;
    transition: opacity var(--syntax-hover-tooltip-opacity-duration);

    background-color: var(--bg-vbtm);
    border: 1px solid var(--bd-elm);
    border-radius: var(--code-decoration-r);
    font-weight: normal;
    font-style: normal;
    opacity: 0;
}
.syntax-hover-tooltip p {
    white-space: normal;
    line-height: normal;
    word-spacing: normal;
}




.syntax-hover-tooltip-arrow, .syntax-hover-tooltip-arrow-border {
    display: block;
    position: relative;
    pointer-events: none;
    width:  0; max-width:  0;
    height: 0; max-height: 0;
    margin-top:  calc(0px + 1px - var(--syntax-hover-tooltip-arrow-h) - var(--syntax-hover-tooltip-padding-top));
    margin-left: calc(50% - var(--syntax-hover-tooltip-arrow-h) / 2 - var(--syntax-table-padding) / 2);
    z-index: 102;

    border-left:  var(--syntax-hover-tooltip-arrow-h) solid transparent;
    border-right: var(--syntax-hover-tooltip-arrow-h) solid transparent;
    border-bottom: var(--syntax-hover-tooltip-arrow-h) solid var(--bg-vbtm);
}


.syntax-hover-tooltip-arrow-border {
    margin-top:  calc(0px - 1px - var(--syntax-hover-tooltip-arrow-h));
    z-index: 101;
    margin-bottom: var(--syntax-hover-tooltip-padding-top);
    border-bottom-color: var(--bd-elm);
}