
<!--------------------------------------------------------------------->
<!-- Templates                                                       -->
<!--------------------------------------------------------------------->
<h1 id="templates"></h1>
<moveto-doc->
    <p>
        Templates allow structs and routines to generate different declarations based on the explicit template arguments or the passed routine argunents.<br>
        They are compatible with specialization constraints, function parameter packs, optional parameters and reference parameters.
    </p>
    <p>
        Generated declarations are called template instances, and the act of generating them is called template instantiation.<br>
        A template is instantiated every time the template symbol is referenced in the code.<br>

    </p>
</moveto-doc->

#include "./Page/LanguageSpecification/Templates/TemplateDeclarations.html"
#include "./Page/LanguageSpecification/Templates/TemplateParameters.html"
#include "./Page/LanguageSpecification/Templates/TemplateParameterPacks.html"
#include "./Page/LanguageSpecification/Templates/AbbreviatedTemplateSyntax.html"
#include "./Page/LanguageSpecification/Templates/MultiArgumentTypeDeduction.html"