:root {
    --bg-code:        hsl(210, 8%, 13%);
    --font-size-code: 13px;
}




code {
    white-space: nowrap;
    border-radius: var(--code-decoration-r);
    padding: 4px 8px 4px 8px;
    background-color: var(--bg-code);
    font-family: monospace, monospace;
    color: var(--fg-text);
    font-size: var(--font-size-code);
}