:root {
    /* Font */
    --code-decoration-r:  9px;
    --char-spacing:       0.02ch;
    --word-spacing:       0.4ch;
    --line-h:             3ch;
    --wide-line-h:        3.5ch;

    --font-size-mono:     13px;


    /* Sizes */
    --def-margin:         32px;
    --list-indentation:   4ch;


    /* Color */
    --bg:               #171717;
    --bg-pre:           #0f0f0f;

    --fg-separator:     hsl(213, 12%, 18%);
    --fg-text:          hsl(240, 2%, 88%);
}






*:not(ol) {
    margin:  0;
    padding: 0;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}
p, table, h1, h2, h3{
    margin: var(--def-margin) 0 var(--def-margin) 0;
}