:root {
    --fg-link:      hsl(209, 100%, 66%);
    --fg-soft-link: hsl(212, 34%, 77%);
}




a:hover, a:visited, a:link {
    text-decoration: none;
    color: var(--fg-soft-link);
}
a:hover {
    text-decoration: underline;
}
