:root {
    --fg-link:        hsl(209, 100%, 66%);
    --fg-soft-link:   hsl(212, 34%, 77%);
    --fg-soft-link-u: hsla(212, 34%, 77%, 50%);
}




a:hover, a:visited, a:link {
    text-decoration: underline;
    text-decoration-color: var(--fg-soft-link-u);
    color: var(--fg-soft-link);
}
a:hover {
    text-decoration-color: var(--fg-soft-link)
}
