:root {/*
    Font { */
        --code-decoration-r:  9px;
        --char-spacing:      -0.06ch;
        --word-spacing:       0.6ch;
        --line-h:             2.6ch;
        --wide-line-h:        3.5ch;
        --code-line-h:        2.5ch;

        --font-size-xx-small: 8px;
        --font-size-x-small:  12px;
        --font-size-small:    14px;
        --font-size-medium:   16px;
        --font-size-mono:     14px;
        --font-size-code:     13px;
        --font-size-large:    22px;
        --font-size-x-large:  28px;
        --font-size-xx-large: 36px;
        --font-size-xxx-large:48px;/*
    }

    Sizes { */
        --def-margin:              32px;
        --main-padding-l:          2vw;
        --main-padding-r:          4vw;
        --slider-w:                2vw;
        --logo-size:               50vw;/*
    }

    Color { */
        --bg:               hsl(216, 28%, 7%);
        --bg-code:          hsl(210, 18%, 15%);
        --bg-pre:           hsl(216, 22%, 9%);
        --bg-elm:           hsl(216, 22%, 9%);
        --bg-table-odd:     hsl(216, 28%, 8.6%);
        --bg-table-even:    hsl(216, 28%, 8.0%);
        --bg-table-header:  hsl(213, 20%, 12%);

        --fg-link:          hsl(209, 100%, 66%);
        --fg-soft-link:     hsl(212, 34%, 77%);
        --fg-separator:     hsl(213, 12%, 18%);
        --fg-text:          hsl(0, 0%, 75%);
        --fg-hidden:        hsl(0, 0%, 33%);

        --bd-elm:           hsl(212, 14%, 20%);
        --bd-elm2:          hsl(210, 41%, 54%);
        --bd-elm3:          hsl(281, 41%, 54%);
        --bd-code:          hsl(212, 14%, 24%);
        --bd-table-cell:    hsl(213, 9%, 10%);
        --bd-table-header:  hsl(213, 9%, 15%);/*
    } */
}


/* Hide scrollbar { */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }/*
} */


/* Default { */
    * {
        margin:  0;
        padding: 0;
        scrollbar-width: thin;
        text-rendering: optimizeLegibility;
    }
    p, syntax-, example-, table-container, h1, h2, h3{
        margin:  var(--def-margin) 0 var(--def-margin) 0;
    }
    ul {
        margin-left: 2ch;
    } /*
} */


/* Utility { */
    .right    { text-align: right  !important; }
    .left     { text-align: left   !important; }
    .center   { text-align: center !important; }

    .xx-large { font-size: var(--font-size-xx-large) !important; }
    .x-large  { font-size: var(--font-size-x-large)  !important; }
    .small    { font-size: var(--font-size-small)    !important; }
    .medium   { font-size: var(--font-size-medium)   !important; }
    .large    { font-size: var(--font-size-large)    !important; }
    .xx-small { font-size: var(--font-size-xx-small) !important; }
    .x-small  { font-size: var(--font-size-x-small)  !important; }

    .nowrap { white-space: nowrap !important; }
    .wrap   { white-space: normal !important; }
    .nobefore::before { content: none !important; }
    .noafter::after   { content: none !important; }/*
} */
