



/* Page layout */
body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: sans-serif;;
    background-color: var(--bg);
    color: var(--fg-text);
    position: fixed;
    z-index: -9999;

    word-spacing: var(--word-spacing);
    letter-spacing: var(--char-spacing);
    line-height: var(--line-h);
    font-weight: normal;
    font-size: var(--font-size-medium);
    min-width:  100vw;
    max-width:  100vw;
    min-height: 100vh;
    max-height: 100vh;}




    /* Language logo */
    logo- {
        display: block;
        z-index: -4;
        background-color: black;
        background-repeat: no-repeat;

        background-attachment: fixed;
        background-position: center;
        background-size:50%;
        min-width:  100vw;
        max-width:  100vw;
        min-height: 100vh;
        max-height: 100vh;
    }

    lux-logo-, umbra-logo- {
        display: inline-block;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-width:  var(--line-h);
        max-width:  var(--line-h);
        min-height: var(--line-h);
        max-height: var(--line-h);
        border-radius: calc(var(--line-h) / 2);
        vertical-align: bottom;
    }
    lux-logo-   { background-image: url("../Logos/Lux.png");   }
    umbra-logo- { background-image: url("../Logos/Umbra.png"); }




    /* Page container */
    body > right- {
        display: block;
        z-index: 5;
        overflow: scroll;
        position: fixed;

        right: 0;
        padding: 0 1px 0 1px;
        margin: 0 var(--main-padding-r) 0 var(--main-padding-r);
        /* width: Set from JS */
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh}




        /* Smaller language logo fix */
        body > right- > logo-top- {
            background-color: var(--bg);
            display: block;
            position: fixed;
            z-index: -3;

            top:   0;
            right: 0;
            /* width: Set from JS */
            max-width: 100vw;
            min-height: var(--main-padding-r);
            max-height: var(--main-padding-r);
        }


        /* Smaller language logo */
        body > right- > logo- {
            display: block;
            position: relative;

            margin: var(--main-padding-r) 0 var(--main-padding-r) 0;
            background-position-y: center;
            /* background-position-x: Set from JS */
            background-size: var(--logo-size);
            min-width: 100%;
            max-width: 100%;
            min-height: calc(100vh - var(--main-padding-r) * 2);
            max-height: calc(100vh - var(--main-padding-r) * 2);
        }/*
    }




    Index constainer */
    body > left- {
        display: block;
        background-color: var(--bg);
        overflow: scroll;
        position: fixed;
        z-index: 5;

        margin: 0 0 0 var(--main-padding-l);
        border-right: 1px solid var(--fg-separator);
        /* width: Set from JS */
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;}



        /* TODO move to Index.css */
        /* Page index */
        body > left- > index- {
            display: block;

            min-width: 100%;
            max-width: 100%;
        }

        /* Inedx elements */
        body > left- > index- indexd-, body > left- > index- indexh- {
            display: block;
            background-color: var(--bg);
            white-space: nowrap;
            transition: background-color 0.2s cubic-bezier(.17,.84,.44,1);

            border-radius: 10px;
            /**/width: 100%;
            /* max-width: Set from JS */}


            /* Index links */
            body > left- > index- indexd- > a, body > left- > index- indexh- > a {
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }

        body > left- > index- indexd-:hover, body > left- > index- indexh-:hover {
            background-color: var(--bg-index-hover);
        }
        body > left- > index- indexd-:hover > *, body > left- > index- indexh-:hover > * {
            transform: matrix(1.025, 0, 0.0, 1.05, 0, 0);
            transition: transform 0.2s cubic-bezier(.17,.84,.44,1);
        }
        body > left- > index- > indexh-:first-child:hover, body > left- > index- > indexh-:last-child:hover {
            max-width: 0;
        }/*
    } */




    /* Horizontal separators
    { */
        sep-1-, sep-2-, sep-3-, sep-4- {
            display: block;
            min-width: 100%;
            max-width: 100%;
            border-radius: var(--code-decoration-r);
        }
        sep-1- {
            background-color: var(--fg-separator);
            margin: 256px 0 256px 0;
            min-height: 4px;
            max-height: 4px;
        }
        sep-2- {
            background-color: var(--fg-separator);
            margin: 128px 0 128px 0;
            min-height: 1px;
            max-height: 1px;
        }
        sep-3- {
            background-color: transparent;
            margin: 256px 0 256px 0;
            min-height: 0;
            max-height: 0;
        }
        sep-4- {
            background-color: transparent;
            margin: 128px 0 128px 0;
            min-height: 0;
            max-height: 0;
        }/*
    }*/

    .h1, .h2, .h3, .h4 { font-weight: bold; display: block; }
    .h1 { font-size: var(--font-size-xxx-large); }
    .h2 { font-size: var(--font-size-xx-large);  }
    .h3 { font-size: var(--font-size-x-large);   }
    .h4 { font-size: var(--font-size-large);     }/*
} */




ol > ol > *, ul > ol > *,
ol > ul > *, ul > ul > * {
    margin-left: var(--list-indentation);
}
ul, li {
    list-style-type: disc;
    list-style-position: outside;
}