



body {
    font-family: Inter, sans-serif;
    background-color: var(--bg);
    color: var(--fg-text);
    position: fixed;
    z-index: -9999;
    overflow: clip;

    word-spacing: var(--word-spacing);
    letter-spacing: var(--char-spacing);
    line-height: var(--line-h);
    font-weight: 300;
    font-size: var(--font-size-medium);
    min-width:  100vw;
    max-width:  100vw;
    min-height: 100vh;
    max-height: 100vh;
}
body b {
    font-weight: 500;
}
