:root {
    --main-padding-l: 2vw;
    --main-padding-r: 4vw;
}



/* Page layout */
body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: sans-serif;;
    background-color: var(--bg);
    color: var(--fg-text);
    position: fixed;
    z-index: -9999;
    overflow: hidden;

    word-spacing: var(--word-spacing);
    letter-spacing: var(--char-spacing);
    line-height: var(--line-h);
    font-weight: normal;
    font-size: var(--font-size-medium);
    min-width:  100vw;
    max-width:  100vw;
    min-height: 100vh;
    max-height: 100vh;
}





/*Index container */
body > left- {
    display: block;
    background-color: var(--bg);
    overflow: scroll;
    position: fixed;
    z-index: 5;

    margin: 0 0 0 var(--main-padding-l);
    border-right: 1px solid var(--fg-separator);
    /* width: Set from JS */
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    transition: width 0.3s;
}





/* Page container */
body > right- {
    display: block;
    z-index: 5;
    overflow: hidden; /*! This might cause problems with the tooltips. Check this first if you notice any */
    position: fixed;

    white-space: nowrap; /* Force stacking documentation and examples horizotally */
    right: 0;
    padding: 0 1px 0 1px;
    margin: 0 var(--main-padding-r) 0 var(--main-padding-r);
    /* width: Set from JS */
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;

    transition: width 0.3s;
}


body > right- > #main-right-tab-container {
    display: flex;
    flex-direction: row;
    position: relative;

    min-width:  100%;
    max-width:  100%;
    min-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);
    max-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);

    overflow: visible;
    white-space: nowrap;
}




/* Helper documentation and examples divs */
body > right- > #main-right-tab-container > #main-right-doc,
body > right- > #main-right-tab-container > #main-right-examples,
body > right- > #main-right-tab-container > #main-right-internal {
    display: inline-block;
    position: relative;

    min-width:  100%;
    max-width:  100%;
    min-height: 100%;
    max-height: 100%;

    flex-direction: column;
    white-space: normal;
    overflow: scroll;
}

body > right- > #main-right-tab-container virtual-spacer- {
    background-color: transparent;
    display: block;
    position: relative;
    min-height: 40vh;
    max-height: 40vh;
}

body > right- > #main-right-tab-container tab-placeholder-::after {
    display: block;
    position: relative;

    content: "This tab is empty.";
    margin-top: var(--def-margin);
}








body > right- > #main-right-tab-container > #main-right-doc {
    transition: margin-left 0.3s; /* Set transition for full example list tab */
    margin-right: var(--main-padding-r); /* Push examples out of view */
}

body > right- > #main-right-tab-container > #main-right-examples {
    margin-left: calc(0 - var(--main-padding-r)); /* (aesthetic mirrored padding) */
    margin-right: var(--main-padding-r); /* Push internal functioning out of view */
}
body > right- > #main-right-tab-container > #main-right-internal {
    margin-left: calc(0 - var(--main-padding-r)); /* (aesthetic mirrored padding) */
}




/* *Hopefully* improve loading time by using "none" as display */
body > right- > #main-right-tab-container > #main-right-staging {
    display: none;
}


