:root {
    --bg-index-hover:   hsl(222, 21%, 18%);
    --bg-index-active:  hsl(223, 23%, 30%);
}





/* Page index */
body > left- > index- {
    display: block;

    min-width: calc(100% - var(--main-padding-l));
    max-width: calc(100% - var(--main-padding-l));

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Index elements */
body > left- > index- indexd-, body > left- > index- indexh- {
    display: block;
    background-color: var(--bg);
    white-space: nowrap;
    transition: background-color 0.2s cubic-bezier(.17,.84,.44,1);
    transition: border-color     0.2s cubic-bezier(.17,.84,.44,1);
    overflow: hidden;
    cursor: pointer;

    border-radius: 0 6px 6px 0;
    border: 2px solid transparent;
    /**/width: 100%;
    /* max-width Set from JS */
}
body > left- > index- indexh- {
    min-height: 2em;
    max-height: 2em;
    line-height: 2em;
}
body > left- > index- indexd- {
    min-height: 1.5em;
    max-height: 1.5em;
    line-height: 1.5em;
}




/* Index links */
body > left- > index- indexd- > *, body > left- > index- indexh- > * {
    display: inline-block;
    padding: 0;
    transform-origin: -1em;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
body > left- > index- indexh- > * {
    line-height: 2em;
}
body > left- > index- indexd- > * {
    opacity: 75%;
    line-height: 1.5em;
    transform: translateY(-0.2em);
}




/* Animations */
body > left- > index- indexd-:hover,
body > left- > index- indexh-:hover {
    background-color: var(--bg-index-hover);
}
body > left- > index- indexd-:hover > *,
body > left- > index- indexh-:hover > * {
    transition: transform 0.2s cubic-bezier(.17,.84,.44,1);
}
body > left- > index- indexh-:hover > * {
    transform: matrix(1.025, 0, 0.0, 1, 0, 0);
}
body > left- > index- indexd-:hover > * {
    transform: matrix(1.025, 0, 0.0, 1, 0, 0) translateY(-0.2em);
}
body > left- > index- > indexh-:first-child:hover, body > left- > index- > indexh-:last-child:hover {
    max-width: 0;
}




/* Collapsed elements */
body > left- > index- indexh-.list-hidden,
body > left- > index- indexd-.list-hidden {
    max-height: 0;
}

body > left- > index- indexh- > span::before {
    content: '▾  ';
    opacity: 25%;
    font-size: 1.1em;
    transform: translateY(-0.1em);
    display: inline-block;
    transform-origin: 0.25em;
    transition: transform 0.2s ease-in-out;
}

body > left- > index- indexd- > span::before {
    content: '• ';
    opacity: 25%;
    transform: translateY(0.1em);
    font-size: 1.5em;
    display: inline-block;
}

body > left- > index- indexh-.collapsed > span::before {
    transform: rotate(-90deg);
}