:root {
    --bg-index-hover:   hsl(253, 12%, 17%);
    --bg-index-active:  hsl(255, 14%, 22%);
    --main-index-margin-top: 1em;
    --main-index-margin-bottom: 4em;
}





/* Page index */
body > main- > left- > index- {
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin-top: var(--main-index-margin-top);
    margin-bottom: var(--main-index-margin-bottom);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Index elements */
body > main- > left- > index- indexd-,
body > main- > left- > index- indexh- {
    display: block;
    background-color: var(--bg);
    white-space: nowrap;
    overflow: clip;
    cursor: pointer;

    border-radius: 0 6px 6px 0;
    padding: 2px 0 2px 0;
    /**/width: 100%;
    /* max-width Set from JS */
    transition: background-color 0.2s cubic-bezier(.17,.84,.44,1);
}
body > main- > left- > index- indexh- {
    min-height: 2em;
    max-height: 2em;
    line-height: 2em;
}
body > main- > left- > index- indexd- {
    min-height: 1.5em;
    max-height: 1.5em;
    line-height: 1.5em;
}
body > main- > left- > index- index-elms- {
    margin: 0;
    padding: 0;
    display: block;

    /*! max-height needs to be a fixed value in order to be animated */
    /* max-heght Set from JS */
    transition: max-height 0.25s ease-in-out;
    overflow: clip;
}




/* Index links */
body > main- > left- > index- indexd- > *,
body > main- > left- > index- indexh- > * {
    display: inline-block;
    padding: 0;
    transform-origin: -1em;
    font-weight: 400;

    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
body > main- > left- > index- indexh- > * {
    line-height: 2em;
}
body > main- > left- > index- indexd- > * {
    opacity: 75%;
    font-weight: 300;
    line-height: 1.5em;
    transform: translateY(-0.2em);
}




/* Hover animations */
body > main- > left- > index- indexd-:hover,
body > main- > left- > index- indexh-:hover {
    background-color: var(--bg-index-hover);

    /*! Make hover more visible with a 1px white glow */
    /*! Use shadow instead of increasing text weight as that doesn't make the letters wider */
    text-shadow: 0px 0px 1px white;
}




/* Collapsed elements */
body > main- > left- > index- indexh- > span::before {
    content: '▾  ';
    opacity: 25%;
    font-size: 1.1em;
    transform: translateY(-0.1em);
    display: inline-block;
    transform-origin: 0.25em;
    transition: transform 0.25s ease-in-out;
}

body > main- > left- > index- indexd- > span::before {
    content: '• ';
    opacity: 25%;
    transform: translateY(0.1em);
    font-size: 1.5em;
    display: inline-block;
}

body > main- > left- > index- index-.collapsed > indexh- > span::before {
    transform: rotate(-90deg);
}

body > main- > left- > index- index-.collapsed index-elms- {
    max-height: 0 !important;
}