:root {
    --logo-size:        50vw;
    --logo-link-lumina: url("../../Logos/Aurora.png");
    --logo-link-aurora: url("../../Logos/Lumina.png");
}






/* Language logo */
logo- {
    display: block;
    z-index: -4;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:50vw;

    min-width:  100%;
    max-width:  100%;
    /* Min height is set from JS */
    /* Max height is set from JS */
}

lumina-logo-, aurora-logo- {
    display: inline-block;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width:  var(--line-h);
    max-width:  var(--line-h);
    min-height: var(--line-h);
    max-height: var(--line-h);
    border-radius: calc(var(--line-h) / 2);
    vertical-align: bottom;
}
aurora-logo- { background-image: var(--logo-link-lumina); }
lumina-logo- { background-image: var(--logo-link-aurora);   }








/* Smaller language logo */
body > right- > logo- {
    display: block;
    position: relative;

    margin: var(--main-padding-r) 0 var(--main-padding-r) 0;
    background-position-y: center;
    /* background-position-x: Set from JS */
    background-size: var(--logo-size);
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - var(--main-padding-r) * 2);
    max-height: calc(100vh - var(--main-padding-r) * 2);
}/*
