:root {
    --main-padding-c: 4vw;         /*! Must be in vw to let JS parse the value & change with viewport's width */
    --main-right-w:   3vw;         /*! Must be in vw to let JS parse the value & change with viewport's width */
    --main-overflow-margin-c: 2vw; /*! Must be in vw to let JS parse the value & change with viewport's width */   /* Must also be < main-padding-c */
    --shadow-color: rgba(0, 0, 0, 0.2);
    --light-shadow-color: rgba(0, 0, 0, 0.1);
    --main-center-min-w: 25vw; /*! Must be precalculated and in vw to let JS parse the value correctly */

    --main-drag-icon-margin-l: 5px;
    --main-drag-icon-w: 15px;
    --main-drag-icon-h: 50px;

    --doc-tab-opacity-easing-exit:  cubic-bezier(0.165, 0.84, 0.44, 1); /* Quartic ease out */
    --doc-tab-opacity-easing-enter: cubic-bezier(0.895, 0.03, 0.685, 0.22); /* Quartic ease in */
    --doc-tab-movement-easing:      cubic-bezier(0.99, 0, 0.01, 1);
}



body > main- {
    display: block;
    background-color: transparent;
    overflow-y: clip;
    overflow-x: visible;
    min-width:  100vw;
    max-width:  100vw;
    min-height: calc(100vh - var(--main-footer-h));
    max-height: calc(100vh - var(--main-footer-h));
    top: 0;

    /*! Cursor events must pass straight through the main container in order to reach the slider. (through a gap between left- and right-) */
    /*! Slider must be in the body in order to work. */
    pointer-events: none;
}



body > main- > * {
    /*! Turn cursor events back on for child elements */
    pointer-events: auto;
}





/*Index container */
body > main- > left- {
    display: block;
    background-color: var(--bg-sides);
    overflow-x: clip;
    overflow-y: scroll;
    position: fixed;
    z-index: 6; /*! 1 higher than right-'s in order to hide moving tabs */

    left: 0;
    top: 0;
    margin: 0;

    border-right: 1px solid var(--fg-separator-thin);
    /* width set from JS */
    max-width: 100%;
    min-height: calc(100vh - var( --main-footer-h));
    max-height: calc(100vh - var( --main-footer-h));
    box-shadow: 4px 0px 8px var(--shadow-color);

    transition: width 0.3s;
}





/* Page container */
body > main- > center- {
    display: block;
    z-index: 5;
    overflow-y: clip;
    overflow-x: visible;
    position: fixed;

    white-space: nowrap; /* Force stacking documentation and examples horizotally */
    right: calc(var(--main-padding-c) + var(--main-right-w));
    top: 0;


    /*! width set from JS */
    max-width: 100%;
    min-height: calc(100vh - var( --main-footer-h));
    max-height: calc(100vh - var( --main-footer-h));

    transition: width 0.3s, right 0.3s;
}

/* Drag icon */
body > main- > center-::after {
    display: block;
    position: absolute;
    pointer-events: none;

    width: var(--main-drag-icon-w);
    height: var(--main-drag-icon-h);
    background-color: color-mix(in srgb, var(--button-color-idle) 25%, transparent);
    mask-image: url("./Icons/MainDragIcon.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;

    left: calc(0px - var(--main-padding-c) + var(--main-drag-icon-margin-l));
    top: 50%;
    transform: translateY(-50%);
    content: ""; /*! Required in order to display the pseudo element */
}


body > main- > center- > #main-center-tab-container {
    display: flex;
    flex-direction: row;
    position: relative;

    min-width:  100%;
    max-width:  100%;
    min-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);
    max-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);

    overflow: visible;
    white-space: nowrap;
}




/* Helper documentation and examples divs */
body > main- > center- > #main-center-tab-container > #main-center-doc,
body > main- > center- > #main-center-tab-container > #main-center-examples,
body > main- > center- > #main-center-tab-container > #main-center-internal {
    display: inline-block;
    position: relative;

    /*! Create fake overflow margins using negative margins (JS for first tab, CSS+JS for the others) and padding */
    /*! Because apparently CSS can't do that */
    min-width:  calc(100% + var(--main-overflow-margin-c) * 2);
    max-width:  calc(100% + var(--main-overflow-margin-c) * 2);
    padding: 0 var(--main-overflow-margin-c) 0 var(--main-overflow-margin-c);
    min-height: 100%;
    max-height: 100%;

    flex-direction: column;
    white-space: normal;
    overflow: scroll;

    /*! opacity animated from JS */
    /*! transition also set from JS - different easing depending on direction */
}

body > main- > center- > #main-center-tab-container virtual-spacer- {
    background-color: transparent;
    display: block;
    position: relative;
    min-height: 40vh;
    max-height: 40vh;
}

body > main- > center- > #main-center-tab-container tab-placeholder-::after {
    display: block;
    position: relative;
    font-weight: 200;

    content: "This tab is empty.";
    margin-top: var(--def-margin);
}








body > main- > center- > #main-center-tab-container > #main-center-doc {
    /* Set transition for full example list tab */
    /*! transition is set from JS - different easing depending on direction */
    /*! left margin is set from JS - changes with active tab */
    margin-right: calc(var(--main-padding-c) - var(--main-overflow-margin-c)); /* Push examples out of view */
}

body > main- > center- > #main-center-tab-container > #main-center-examples {
    margin-left:  calc(0 - var(--main-padding-c) - var(--main-overflow-margin-c)); /* (aesthetic mirrored padding) */
    margin-right:     calc(var(--main-padding-c) - var(--main-overflow-margin-c)); /* Push internal functioning out of view */
}
body > main- > center- > #main-center-tab-container > #main-center-internal {
    margin-left: calc(0 - var(--main-padding-c) - var(--main-overflow-margin-c)); /* (aesthetic mirrored padding) */
}




/* *Hopefully* improve loading time by using "none" as display */
body > main- > center- > #main-center-tab-container > #main-center-staging {
    display: none;
}








/* Right side buttons container - uses grid display to stack elements */
body > main- > right- {
    display: grid;
    z-index: 6; /*! 1 higher than right-'s in order to hide moving tabs */
    overflow: visible;
    position: fixed;

    right: 0;
    top: 0;
    margin: 0;

    background-color: var(--bg-sides);
    border-left: 1px solid var(--fg-separator-thin);
    min-width: var(--main-right-w);
    max-width: var(--main-right-w);
    min-height: calc(100vh - var( --main-footer-h));
    max-height: calc(100vh - var( --main-footer-h));
    box-shadow: -4px 0px 8px var(--shadow-color);
}
body > main- > right- > * {
    grid-area: 1 / 1;
}