:root {
    --main-padding-r: 4vw;
    /* --main-padding-r: 16vw; */
}



body > main- {
    display: block;
    background-color: transparent;
    overflow-y: clip;
    overflow-x: visible;
    min-width:  100vw;
    max-width:  100vw;
    min-height: calc(100vh - var(--main-footer-h));
    max-height: calc(100vh - var(--main-footer-h));
    top: 0;

    /*! Cursor events must pass straight through the main container in order to reach the slider. (through a gap between left- and right-) */
    /*! Slider must be in the body in order to work. */
    pointer-events: none;
}



body > main- > * {
    /*! Turn cursor events back on for child elements */
    pointer-events: auto;
}





/*Index container */
body > main- > left- {
    display: block;
    background-color: var(--bg);
    overflow-x: clip;
    overflow-y: scroll;
    position: fixed;
    z-index: 6; /*! 1 higher than right-'s in order to hide moving tabs */

    left: 0;
    top: 0;
    margin: 0;
    border-right: 1px solid var(--fg-separator);
    /* width set from JS */
    max-width: 100%;
    min-height: calc(100vh - var( --main-footer-h));
    max-height: calc(100vh - var( --main-footer-h));

    transition: width 0.3s;
}





/* Page container */
body > main- > right- {
    display: block;
    z-index: 5;
    overflow-y: clip;
    overflow-x: visible;
    position: fixed;

    white-space: nowrap; /* Force stacking documentation and examples horizotally */
    /*! right set from JS */
    top: 0;
    padding: 0 1px 0 1px;


    /*! width and margin set from JS */
    max-width: 100%;
    min-height: calc(100vh - var( --main-footer-h));
    max-height: calc(100vh - var( --main-footer-h));

    transition: width 0.3s, right 0.3s;
}


body > main- > right- > #main-right-tab-container {
    display: flex;
    flex-direction: row;
    position: relative;

    min-width:  100%;
    max-width:  100%;
    min-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);
    max-height: calc(100vh - var(--tab-buttons-container-height) - var(--tab-button-padding) * 2);

    overflow: visible;
    white-space: nowrap;
}




/* Helper documentation and examples divs */
body > main- > right- > #main-right-tab-container > #main-right-doc,
body > main- > right- > #main-right-tab-container > #main-right-examples,
body > main- > right- > #main-right-tab-container > #main-right-internal {
    display: inline-block;
    position: relative;

    min-width:  100%;
    max-width:  100%;
    min-height: 100%;
    max-height: 100%;

    flex-direction: column;
    white-space: normal;
    /*! visible x but scrollable y is not possible */
    /*! so each element has its width set from JS */
    overflow: scroll;

    /*! opacity animated from JS */
    /*! transition also set from JS - different easing depending on direction */
    /* transition: opacity 0.3s cubic-bezier(0.215, 0.610, 0.355, 1); */

}

body > main- > right- > #main-right-tab-container virtual-spacer- {
    background-color: transparent;
    display: block;
    position: relative;
    min-height: 40vh;
    max-height: 40vh;
}

body > main- > right- > #main-right-tab-container tab-placeholder-::after {
    display: block;
    position: relative;

    content: "This tab is empty.";
    margin-top: var(--def-margin);
}








body > main- > right- > #main-right-tab-container > #main-right-doc {
    /* Set transition for full example list tab */
    /*! transition is set from JS - different easing depending on direction */
    margin-right: var(--main-padding-r); /* Push examples out of view */
}

body > main- > right- > #main-right-tab-container > #main-right-examples {
    margin-left: calc(0 - var(--main-padding-r)); /* (aesthetic mirrored padding) */
    margin-right: var(--main-padding-r); /* Push internal functioning out of view */
}
body > main- > right- > #main-right-tab-container > #main-right-internal {
    margin-left: calc(0 - var(--main-padding-r)); /* (aesthetic mirrored padding) */
}




/* *Hopefully* improve loading time by using "none" as display */
body > main- > right- > #main-right-tab-container > #main-right-staging {
    display: none;
}

