:root {
    --sidebar-button-size: 25px;
    --sidebar-button-dist: 20px;
    --sidebar-spacer-margin: 10px;

    --button-color-idle:  #8d8d8d;
    --button-color-hover: var(--fg-text);
}





body > main- > right- > buttons- {
    display: flex;
    padding: 0;
    margin: 0 0 var(--sidebar-button-dist) 0;
    width: 100%;
    height: calc(100vh - var(--main-footer-h) - var(--sidebar-button-dist));

    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: var(--sidebar-button-dist);
}




body > main- > right- > buttons- > button-,
body > main- > right- > buttons- > spacer- {
    display: block;
    position: relative;
    padding: 0;
    min-width: var(--sidebar-button-size);
    max-width: var(--sidebar-button-size);
}
body > main- > right- > buttons- > spacer- {
    margin: var(--sidebar-spacer-margin) 0 var(--sidebar-spacer-margin) 0;
    background-color: var(--fg-separator);
    min-height: 1px;
    max-height: 1px;
}
body > main- > right- > buttons- > button- {
    margin: 0;
    min-height: var(--sidebar-button-size);
    max-height: var(--sidebar-button-size);
    cursor: pointer;
}
body > main- > right- > buttons- > button- > svg {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    color: var(--button-color-idle);
    animation: fadein 0.2s ease;
    transition: color 0.2s ease;
}
body > main- > right- > buttons- > button- > svg:hover {
    color: var(--button-color-hover);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}