:root {
    --tab-button-padding: 4px;

    /*! This is required in order to calculate the correct height of the central panel */
    /*! Automatic height breaks stuff */
    --tab-buttons-container-height: calc(2em + var(--tab-button-padding) * 2);
}



.tab-buttons-container {
    display: flex;
    flex-direction: row;
    position: relative;

    width: auto;
    min-height: var(--tab-buttons-container-height);
    max-height: var(--tab-buttons-container-height);

    border-bottom: 1px solid var(--fg-separator);
}


.tab-buttons-container > .tab-button {
    display: flex;
    position: relative;
    overflow: clip;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: var(--tab-button-padding) 0 var(--tab-button-padding) 0;

    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    user-select: none;
}



.tab-buttons-container > .tab-button > span {
    flex-shrink: 1; /* Absorbs all shrinking */
    min-width: 0; /*! Needed for flex-shrink to work */
    display: block;
    width: fit-content;
    padding: 0;
    margin: 0;

    background-color: transparent;
    text-align: center;
    font-size: var(--font-size-mediumlarge);
    font-weight: 200;
    color: var(--button-color-hover); /*! Using hover as idle color and full white as hover color */
    transition: color 0.2s ease;
}
.tab-buttons-container > .tab-button:hover > span {
    color: white;

    /*! Make hover more visible with a 1px white glow */
    /*! Use shadow instead of increasing text weight as that doesn't make the letters wider */
    text-shadow: 0px 0px 1px white;
}


/*! Icon and SVG defined in TabButtonIcons */