:root {
    --tab-button-icon-size: 25px;
    --tab-button-icon-padding: 15px;
}






.tab-buttons-container > .tab-button > icon- {
    flex-shrink: 0; /* Disable shrinking */
    min-width: 0; /*! Needed for flex-shrink to work */
    display: block;
    position: relative;
    padding: 0;
    margin: 0 var(--tab-button-icon-padding) 0 var(--tab-button-icon-padding);

    width: var(--tab-button-icon-size);
    min-height: var(--tab-button-icon-size);
    max-height: var(--tab-button-icon-size);
}
.tab-buttons-container > .tab-button > icon- > svg {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    animation: fadein 0.2s ease;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}